{% extends "base_generic.html" %}

{% block content %}
<h1>Contracts List</h1>
{% if contract_list %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Insured</th>
            <th>Type of contract</th>
            <th>Validity</th>
        </tr>
    </thead>
    <tbody>
        {% for contract in contract_list %}
        <tr>
            <td><a href="{{ contract.get_absolute_url }}">{{ contract.administrative_information.name }}</a></td>
            <td>{{ contract.administrative_information.insured }}</td>
            <td>{{ contract.coverage }}</td>
            <td>{{ contract.coverage.start_date }} - {{ contract.coverage.end_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no contracts.</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}