{% extends "base_generic.html" %}

{% block content %}
<h1>Programs List</h1>
{% if program_list %}
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Insured</th>
            <th>Validity</th>
        </tr>
    </thead>
    <tbody>
        {% for program in program_list %}
        <tr>
            <td><a href="{{ program.get_absolute_url }}">{{ program.code }}</a></td>
            <td><a href="{{ program.insured.get_absolute_url }}">{{ program.insured }}</a></td>
            <td>{{ program.start_date }} - {{ program.end_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no programs.</p>
{% endif %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}