{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/modelisk.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@12.3/dist/handsontable.full.min.js"></script>
    <link type="text/css" rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/handsontable@12.3/dist/handsontable.full.min.css" />
    <script type="text/javascript" src="{% static 'js/grid_experience_analysis.js' %}"></script>
</head>

<body {% block onload%}{% endblock %}>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">Preferences</a></li>
            <li><a href="#">...</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>

</html>