{% extends 'base_generic.html' %}

{% block title %}Insurance Risk Modeling{% endblock %}

{% block content %}
<h1>Welcome to Modelisk!</h1>
<p>This website provides tools for modeling insurance risks.</p>

<h2>Links:</h2>
<ul>
    <li><a href="{% url 'create_contract' %}">Define an Insurance Contract</a></li>
    <li><a href="{% url 'experience_analysis' %}">Chain Ladder Method Analysis</a></li>
    <li><a href="#">Create new analysis</a></li>
    <li><a href="{% url 'contracts' %}">List of contracts</a></li>
</ul>
{% endblock %}