{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/modelisk.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/handsontable@12.3/dist/handsontable.full.min.js"></script>
    <link type="text/css" rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/handsontable@12.3/dist/handsontable.full.min.css" />
    <script type="text/javascript" src="{% static 'js/grid_experience_analysis.js' %}"></script>
    {% block script %}{% endblock %}
</head>

<body {% block onload%}{% endblock %}>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <ul class="sidebar-nav">
                    <li><a href="{% url 'home' %}">Logged User</a></li>
                </ul>
                <ul class="sidebar-nav">
                    <li><a href="{% url 'home' %}"><button type="button">Home</button></a></li>
                    <li><a href="#"><button type="button">New exposure analysis</button></a></li>
                    <li><a href="{% url 'experience-analysis-creation' %}"><button type="button">New experience analysis</button></a></li>
                    <li><a href="#"><button type="button">Search</button></a></li>
                    <li><a href="{% url 'analysis-list' %}"><button type="button">Analysis</button></a></li>
                    <li><a href="{% url 'reference-data' %}"><button type="button">Reference data</button></a></li>
                    <li><a href="{% url 'business-data' %}"><button type="button">Business data</button></a></li>
                </ul>
                <ul class="sidebar-nav">
                    <li><a href="#"><button type="button">Help</button></a></li>
                </ul>
            </div>
            <div class="col-sm-10">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

</html>