{% extends 'base_generic.html' %}

{% block content %}
<h1>Create a contract</h1>
<table>
    <tbody>
        {% csrf_token %}
        {% for field in form %}
        <tr>
            <td>
                <label for="{{ field.id_for_label }}" class="col-form-label">{{ field.label }}</label>
            </td>
            <td>{{ field }} {{ field.errors }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
<form action="/your-name/" method="post"><button type="submit" class="btn btn-primary">Submit</button></form>
{% endblock %}