{% extends "base_generic.html" %}
{% load static %}
{% block script %}
<script type="text/javascript" src="{% static 'js/grid_experience_analysis.js' %}"></script>
{% endblock %}
{% block content %}
<h1>{{ exposureanalysis.type_string }} {{ exposureanalysis }}</h1>

<table>
    {% for label, url, value in exposureanalysis.get_fields %}
    <tr>
        <td>{{ label }}</td>
        <td>{% if url %}<a href="{{ url }}">{% endif%}{{ value }}{% if url %}</a>{% endif%}</td>
    </tr>
    {% endfor %}
</table>
<br/>
<form method="POST" action="{% url 'exposure-analysis-detail' exposureanalysis.id %}">
    {% csrf_token %}
    {{ create_convolution }}
    <button type="submit">Create convolution</button>
</form>
{% endblock %}