{% extends "base_generic.html" %}
{% load static %}
{% block content %}
<h1>{{ exposureanalysis.type_string }} {{ exposureanalysis }}</h1>

<table>
    {% for label, url, value in exposureanalysis.get_fields %}
        <tr>
            <td>{{ label }}</td>
            <td>{% if url %}<a href="{{ url }}">{% endif%}{{ value }}{% if url %}</a>{% endif%}</td>
        </tr>
    {% endfor %}
</table>
<br/>
{% if exposureanalysis.has_total_distribution %}
<img src="{% static image_path %}" alt="Plot Image">
{% else %}
The total convolution has not yet been calculated.
<br/>
<form method="POST" action="{% url 'exposure-analysis-detail' exposureanalysis.code %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Create convolution</button>
</form>
{% endif %}
{% endblock %}